appnope==0.1.0
APScheduler==3.6.3
asgiref==3.2.3
astroid==2.3.3
backcall==0.1.0
bleach==3.3.0
certifi==2018.11.29
cycler==0.10.0
decorator==4.3.0
defusedxml==0.5.0
Django==3.0.7
django-appconf==1.0.3
django-user-accounts==3.0.0
djangorestframework==3.11.0
entrypoints==0.2.3
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.21
jedi==0.13.1
jinja2>=2.10.1
joblib==0.14.1
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==6.0.0
jupyter-core==4.4.0
kiwisolver==1.0.1
lazy-object-proxy==1.4.3
MarkupSafe==1.1.0
matplotlib==3.0.2
mccabe==0.6.1
mistune==0.8.4
MouseInfo==0.1.2
nbconvert==5.4.0
nbformat==4.4.0
notebook==6.1.5
numpy==1.16.0
pandas==0.25.3
pandocfilters==1.4.2
parso==0.3.1
patsy==0.5.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow>=6.2.2
prometheus-client==0.4.2
prompt-toolkit==2.0.7
ptyprocess==0.6.0
PyAutoGUI==0.9.48
pygame==1.9.6
PyGetWindow==0.0.8
Pygments==2.3.0
pylint==2.4.4
pylint-django==2.0.14
pylint-plugin-utils==0.6
PyMsgBox==1.0.7
pynput==1.6.7
pyparsing==2.3.1
pyperclip==1.7.0
PyRect==0.1.4
PyScreeze==0.1.25
python-dateutil==2.7.5
PyTweening==1.0.3
pytz==2019.3
pyzmq==17.1.2
qtconsole==4.4.3
scikit-learn==0.22.1
scipy==1.2.0
Send2Trash==1.5.0
six==1.14.0
sqlparse==0.3.0
statsmodels==0.11.1
terminado==0.8.1
testpath==0.4.2
tornado==5.1.1
traitlets==4.3.2
typed-ast==1.4.1
tzlocal==2.0.0
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.2
wrapt==1.11.2
xlrd==1.2.0
