<!doctype html>
<html lang="en">
  <head>
	{% load static %}
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="{% static 'login/css/password-reset.css' %}">
	<script src="{% static 'login/js/password-reset.js' %}"></script>

    <title>Password Reset</title>
  </head>

<body>

	<!-- Error Message -->
	{% if messages %}
		{% for message in messages %}
            <div class="error-box">
                <h1 class="error-message">{{ message }}</h1>
            </div>
		{% endfor %}
	{% endif %}

    <div class="container all">
        <h2>
            Reset Your Password
        </h2>
        <div class="row">
            <div class="col-sm-4">
                <form action="{% url 'change_password' %}" method="post">
                    <label>Current Password</label>
                    <div class="form-group pass_show"> 
                        {% csrf_token %}
                        <!-- old password input -->
                        <input class="form-control" type="raw_password" name="old_password" placeholder="Enter Current Password"> 
                    </div> 
                    <label>New Password</label>
                    <div class="form-group pass_show"> 
                        <!-- new password input -->
                        <input class="form-control" type="raw_password" name="new_password" placeholder="Enter New Password"> 
                    </div> 
                    <label>Confirm Password</label>
                    <div class="form-group pass_show"> 
                        <!-- confirm password input -->
                        <input class="form-control" type="raw_password" name="confirm_password" placeholder="Enter New Password Again"> 
                    </div> 
                    <button class="btns change-btn" type="submit">Change password</button>
                </form>
                
                <!-- redirect for the cancel button -->
                {% if user.is_student %}
                    <a class="btns cancel-btn" href="{% url 'student-dashboard' %}">Cancel</a>
                {% elif user.is_instructor %}
                    <a class="btns cancel-btn" href="{% url 'professor-dashboard' %}">Cancel</a>
                {% else %}
                    <a class="btns cancel-btn" href="{% url 'index' %}">Cancel</a>
                {% endif %}
            </div>  
        </div>
    </div>

</body>
</html>
