body {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #f3f4f4;
}


.error-box {
  background-color: black;
  border-radius: 4px;
  position: absolute;
  left: 25%;
  top: 20px;
  padding: 6px 200px 6px 20px;
  z-index: 100;
  opacity: 80%;
  font-weight: 400;
}

.error-message {
  font-size: 20px;
  color: white;
}


.pass_show{position: relative} 

.pass_show .ptxt { 

position: absolute; 

top: 50%; 

right: 10px; 

z-index: 1; 

color: #4a49ac; 

margin-top: -10px; 

cursor: pointer; 

transition: .3s ease all; 

} 

.pass_show .ptxt:hover{color: #333333;} 



.all {
    position: absolute;
    top: 15%;
    left:38%;
}


.btns {
    border-color: #4a49ac;
    border-style: none;
    outline: none;
    border: 0;
    border-radius: 3px;
    height: 0px;
    line-height: 0px;
    color: white;
    width: 100%;
    font-size: 15px;
    padding: 18px;
    background-color: #4a49ac;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-top: 25px;
  }
  
  .btns:hover {
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: #4a49ac;
    color: white;
    text-decoration: none !important;
  }

  a:hover {
    color: white;
    text-decoration: none !important;
  }